
@import "../../vars";
.app {
  margin: 0 auto;
  text-align: center;

  width: 1000px;

  background: $color1;

  .app-name {
    text-align: center;
    margin: 0;
    padding: 15px 0 20px;
    font-size: 34px;
  }

  .game-status {
    margin-top: 0;

    &.win {
      color:white;
    }

    &.fail {
      color: #ff4040;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: 10px;


    .column {
      width: 350px;

      &:last-child {
        width: 500px;
      }
    }
  }

  .title {
    background: $color2;
    border: 1px solid $color3;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    color: $color5;
  }

  .panel {
    border: 1px solid $color2;
    border-top: 0;
    margin-bottom: 10px;
  }
}

