body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a68156;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: none;
  width: 30px;
  border: 1px solid #877f72;
  color: #a68156;
  margin-right: 10px;

  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }
  box-sizing: border-box;
}

button {
  background-color: #44200c;
  color: #a68156;
  outline: 0;
  border: 1px solid #877f72;
  cursor: pointer;
  margin-left: 10px;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    color: white;
  }

  &:disabled {
    background-color: #777;
    cursor: not-allowed;
    color:#44200c;

    &:hover {
      color:#44200c;
    }
  }
}